.image-wrapper {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
  }

  .delete-image {
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dc3545;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 3px;
  }